<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Django BookMark Detail Page</title>{% endblock %}
</head>
<body>

{% block content %}


    <h1> {{ object.title }}</h1>
    <ul>
        <li> URL : <a href ="{{ object.url }}"> {{ object.url }}</a></li>

    </ul>




{% endblock %}

</body>
</html>