<!DOCTYPE html>
<html lang="ko">
<head>
    {% extends 'base.html'%}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    {% block title %}<title>Title</title>{% endblock %}
</head>
<body>
{% block content %}
<h1>북마크 만들기  - {{user}} </h1>
<p class="font-italic">
    북마크 생성 페이지입니다.
</p>
{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        틀렸습니다. 다시 한번 확인해주세요.
    </div>
    {{ form.errors }}
</div>
{% endif %}

<form action="" method="post" class="card pt-3">{% csrf_token %}

<div class="form-group row">
    {{form.title|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
    <div class="col-sm-5">
        {{form.title|add_class:"form-control"|attr:"autofocus"}}
    </div>
</div>

<div class="form-group row">
    {{form.url|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
    <div class="col-sm-5">
        {{form.url|add_class:"form-control"|attr:"autofocus"}}
    </div>
</div>

<div class="form-group">
    <div class="offset-sm-2 col-sm-5">
        <input type="submit" value="제출" class="btn btn-success"/>
    </div>
</div>
</form>
{% endblock %}
</body>
</html>