<!DOCTYPE html>
<html lang="ko">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    {% block title %} <title>Blog Detail Page</title> {% endblock %}
    {% block extra-style %}
    <style type="text/css">
        .post-body{
        width:80%;
        margin:0 auto;
        font-family:"Lucida Grande" , Verdana,Arial , sans-serif;
        font-size :16px;
        }

    </style>

    {% endblock extra-style %}


</head>
<body>
{% block content %}
<div class="post-body">



<h2> {{object.title}}</h2>

<p>
    {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="이전 포스트">
            &laquo;-- {{ object.get_previous }}
        </a>
    {% endif %}

    {% if object.get_next %}
        | <a href="{{ object.get_next.get_absolute_url }}" title="다음 포스트">
             {{ object.get_next }} --&raquo;
        </a>
    {% endif %}
</p>

<p> {{ object.modify_dt|date:"j F, Y" }}</p>
<br>

<div>
    {{ object.content|linebreaks }}
</div>

<br>
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
        <a href="{% url 'blog:tagged_object_list' tag.name %}"> {{ tag.name }}</a>

    {% endfor %}
    &emsp;
    <a href="{% url 'blog:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
</div>
    <br>
    <div id="disqus_thread" style=""></div>
    </div>
{% endblock %}



{% block extra-script %}
   <script>
 var disqus_config = function(){
 this.page.identifier = '{{disqus_id}}';
 this.page.url = '{{disqus_url}}';
 this.page.title = '{{disqus_title}}';
 };

(function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();


</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    {% endblock extra-script %}
</body>
</html>